.app-brand {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;

    height: 100px;
    margin: 25px 0px;
    padding: 0px 40px;

    
    img {
        max-width: 200px;
    }
}