.app-sidebar {
    position: fixed;
    height: 100vh;
    left: 0;
}

.app-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
}

.app-content {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 150px;
}