.player-controls {

    .play-control {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background: #333;
    }
    
    button {
        height: 30px;
        width: 30px;
        background: transparent;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;

        img {
            width: 35px;
        }

    }
}

.player-config {
    @media only screen and (max-width: 1024px) {
        & {
            position: fixed;
            height: 85px;
            min-width: 150px;
            right: 45px;
            background: #121212;
            bottom: 10px;
            justify-content: flex-end;
            padding: 0px 10px;

            .volume-slider {
                display: block!important;
            }
        }
    }
}

.active-mobile-config {
    display: flex;
}