@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    width: 3px;
    display: none;
}

*::-webkit-scrollbar-thumb {
    background: #2ca7b731;
    border-radius: 50px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }


  .app-color-blue {
    color: #2ca6b7;
  }